.application {
  height: 100%;
  text-align: center;
  font-family: 'Muli', sans-serif;
}

.content {
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 15px;
  background-color: #fff;
  padding: 24px;
  min-height: 280px;
  text-align: left;
  font-size: 11pt;
}

.header {
  width: 100%;
}

.footer {
  text-align: center;
}

.bigText {
  font-size: 13pt;
}

.bulletList {
  list-style-type: circle;
  margin-left: 20px;
  padding-left: 4px;
}

.dropZone {
  min-width: 200px;
  min-height: 150px;
  border-width: 2px;
  border-color: rgb(102, 102, 102);
  border-style: dashed;
  border-radius: 5px;
  width: 77%;
  margin: auto;
  cursor: pointer;
  font-size: 14pt;
}

.dropZoneSuccess {
  background-color: rgba(205, 255, 193, 0.58);
}
