html, body, :global(#root) {
  height: 100%;
  background-color: #e2e9f1;
}

h1 h2 h3 h4 {
  margin-top: 0px;
  font-family: 'Patua One', cursive;
  text-align: center;
}

path.candle {
  stroke: #000000;
}

path.candle.body {
  stroke-width: 0;
}

path.candle.up {
  fill: #00AA00;
  stroke: #00AA00;
}

path.candle.down {
  fill: #FF0000;
  stroke: #FF0000;
}
